{% extends 'layout.html' %}

{% block head %}
    <script src='/static/lib/micro-templating.js'></script>
    <script src='/static/js/composer.js'></script>
    <script src='/static/lib/bootstrap-select/js/bootstrap-select.js'></script>
{% endblock %}

{% block body %}
    <div id='composer' class='carousel slide' data-ride='carousel' data-interval=''>
        <div class='carousel-inner'>
            <div class='item active'>
                <input id='music-title' class='form-control lyrics_form' placeholder='タイトル'></textarea>
                <textarea id='music-lyrics' class='form-control lyrics_form' rows='5' placeholder='歌詞'></textarea>
                <button id='btn-analyze' class='btn pull-right btn-lg btn-primary'>詳細設定</button>
            </div>
            <div class='item'>
                <div id='tune-details'>
                </div>
                <button class='btn btn-lg btn-primary' href='#composer' data-slide='prev'>戻る</button>
                <button id='btn-compose' class='btn pull-right btn-lg btn-primary'>作曲</button>
            </div>
        </div>
    </div>

    <script type='text/html' id='template-tunes'>
    <% for (var i = 0; i < tunes.length; i++) { %>
    <div class="row tune-detail">
    <div class="col-sm-4 lyrics_form">
    <div class="col-sm-6">
    <p style="display: inline;">コード進行</p>
    <select id="chords-selector" class="selector">
    {% if chords %}
    {% for sc in chords %}
    <option data-content="<span data-id=&quot;{{ sc.chords.id }}&quot;>{{ sc.chords.name }}</span>"></option>
    {% endfor %}
    {% endif %}
    </select>
    <br />
    <p style="display: inline;">リズム</p>
    <select id="rhythms-selector" class="selector">
    {% if rhythms %}
    {% for sr in rhythms %}
    <option data-content="<span data-id=&quot;{{ sr.rhythms.id }}&quot;>{{ sr.rhythms.name }}</span>"></option>
    {% endfor %}
    {% endif %}
    </select>
    <br />
    <p style="display: inline;">拍子</p>
    <select id="time-selector" class="selector">
    <option data-content="<span data-nn=&quot;5&quot; data-dd=&quot;2&quot;>5 / 4</span>"></option>
    <option data-content="<span data-nn=&quot;4&quot; data-dd=&quot;2&quot;>4 / 4</span>">4 / 4</option>
    <option data-content="<span data-nn=&quot;3&quot; data-dd=&quot;2&quot;>3 / 4</span>"></option>
    </select>
    <br />
    </div>
    <div class="col-sm-6">
    <p style="display: inline;">音域上限</p>
    <select id="range-high-selector" class="selector">
    <option data-content="<span data-range-high=&quot;93&quot;>hiA</span>"></option>
    </select>
    <br />
    <p style="display: inline;">音域下限</p>
    <select id="range-low-selector" class="selector">
    <option data-content="<span data-range-low=&quot;72&quot;>mid2C</span>"></option>
    </select>
    <br />
    <p style="display: inline;">BPM</p>
    <input class="form-control tune-bpm" type="number" value="120">
    <br />
    </div>
    </div>
    <div class="col-sm-4">
    <textarea class="form-control lyrics_form tune-lyric" rows="10" placeholder="歌詞"><%=tunes[i].lyric%></textarea>
    </div>
    <div class="col-sm-4">
    <textarea class="form-control lyrics_form tune-phoneme" rows="10" placeholder="音韻"><%=tunes[i].phoneme%></textarea>
    </div>
    </div>
    <% } %>
    </script>
{% endblock %}
