{% extends 'layout.html' %}

{% block title %}リズムを作成 | {% endblock %}

{% block head %}
    <script src='/static/js/rhythm_creator.js'></script>
    <script src='/static/lib/bootstrap-select/js/bootstrap-select.js'></script>
    <script src='/static/lib/p5.min.js'></script>
{% endblock %}

{% block body %}
    <div class='melete-form'>
        <h2>リズムを作成</h2>
        <p></p>
        <div class='rc-container'>
            <select id='mora-selector' class='selector'>
                <option data-content="<span data-mora=&quot;8&quot;>8モーラ</span>"></option>
                <option data-content="<span data-mora=&quot;16&quot;>16モーラ</span>"></option>
                <option data-content="<span data-mora=&quot;32&quot;>32モーラ</span>"></option>
            </select>
            <select id='time-selector' class='selector'>
                <option data-content="<span data-time=&quot;1&quot;>1小節</span>"></option>
                <option data-content="<span data-time=&quot;2&quot;>2小節</span>"></option>
            </select>
        </div>
        <button id='btn-create' class='btn pull-right btn-primary'>作成</button>
    </div>
{% endblock %}
