{% extends 'layout.html' %}

{% block title %}リズムを作成 | {% endblock %}

{% block head %}
    <script src='/static/js/rhythm_creator.js'></script>
    <script src='/static/lib/bootstrap-select/js/bootstrap-select.js'></script>
    <script src='/static/lib/p5.min.js'></script>
{% endblock %}

{% block body %}
    <div class='melete-form'>
        <h2>リズムを作成</h2>
        <p></p>
        <div id='rc-container'></div>
        <button id='btn-create' class='btn pull-right btn-primary'>作成</button>
    </div>
{% endblock %}
