textarea {
    resize: none;
}

.btn:focus, .btn:active:focus, .btn.active:focus,
.btn.focus, .btn:active.focus, .btn.active.focus,
.bootstrap-select .btn:focus, a:focus {
    outline: none;
}

.navbar-right {
    margin-right: 15px;
}

.lyrics-form {
    margin: 8px 0 8px 0;
}

.lyrics-form p {
    margin-top: 8px;
    font-size: 0.8em;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}

.new-entry {
    background: #eee;
    width: 100%;
    height: 96px;
    margin-top: 8px;
    padding: 4px;
}

.new-entry h2 {
    margin: 0;
}
